Rock.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Rock.xcodeproj/project.xcworkspace/xcuserdata/nick.xcuserdatad/UserInterfaceState.xcuserstate
Rock.xcodeproj/project.xcworkspace/xcuserdata/nick.xcuserdatad/WorkspaceSettings.xcsettings
Rock.xcodeproj/xcuserdata/nick.xcuserdatad/xcschemes/Rock.xcscheme
Rock.xcodeproj/xcuserdata/nick.xcuserdatad/xcschemes/xcschememanagement.plist
Rock.xcodeproj/project.xcworkspace/xcshareddata/Rock.xccheckout
