<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Bob</string>
	<string>Dylan</string>
	<string>Rolling</string>
	<string>Stones</string>
	<string>John</string>
	<string>Lennon</string>
	<string>Marvin</string>
	<string>Gaye</string>
	<string>Aretha</string>
	<string>Franklin</string>
	<string>Beach</string>
	<string>Boys</string>
	<string>Chuck</string>
	<string>Berry</string>
	<string>Beatles</string>
	<string>Nirvana</string>
	<string>Ray</string>
	<string>Charles</string>
	<string>Who</string>
	<string>Sam</string>
	<string>Cooke</string>
	<string>Clash</string>
	<string>Jimi</string>
	<string>Hendrix</string>
	<string>Experience</string>
	<string>Elvis</string>
	<string>Presley</string>
	<string>Bruce</string>
	<string>Springsteen</string>
	<string>Ronettes</string>
	<string>Impressions</string>
	<string>Derek</string>
	<string>And</string>
	<string>Dominos</string>
	<string>Otis</string>
	<string>Redding</string>
	<string>Johnny</string>
	<string>Cash</string>
	<string>Led</string>
	<string>Zeppelin</string>
	<string>Ike</string>
	<string>Tina</string>
	<string>Turner</string>
	<string>Righteous</string>
	<string>Brothers</string>
	<string>Doors</string>
	<string>U2</string>
	<string>Marley</string>
	<string>Wailers</string>
	<string>Buddy</string>
	<string>Holly</string>
	<string>Martha</string>
	<string>Vandellas</string>
	<string>Band</string>
	<string>Kinks</string>
	<string>Little</string>
	<string>Richard</string>
	<string>David</string>
	<string>Bowie</string>
	<string>Simon</string>
	<string>Garfunkel</string>
	<string>Eagles</string>
	<string>Miracles</string>
	<string>Grandmaster</string>
	<string>Flash</string>
	<string>Furious</string>
	<string>Five</string>
	<string>Prince</string>
	<string>Sex</string>
	<string>Pistols</string>
	<string>Percy</string>
	<string>Sledge</string>
	<string>Kingsmen</string>
	<string>Procol</string>
	<string>Harum</string>
	<string>Michael</string>
	<string>Jackson</string>
	<string>Al</string>
	<string>Green</string>
	<string>Jerry</string>
	<string>Lee</string>
	<string>Lewis</string>
	<string>Bo</string>
	<string>Diddley</string>
	<string>Buffalo</string>
	<string>Springfield</string>
	<string>Cream</string>
	<string>Roy</string>
	<string>Orbison</string>
	<string>Dionne</string>
	<string>Warwick</string>
	<string>James</string>
	<string>Brown</string>
	<string>Eddie</string>
	<string>Cochran</string>
	<string>Stevie</string>
	<string>Wonder</string>
	<string>Byrds</string>
	<string>Fats</string>
	<string>Domino</string>
	<string>Police</string>
	<string>Patsy</string>
	<string>Cline</string>
	<string>Temptations</string>
	<string>Mamas</string>
	<string>Papas</string>
	<string>Satins</string>
	<string>Ramones</string>
	<string>Carl</string>
	<string>Perkins</string>
	<string>Creedence</string>
	<string>Clearwater</string>
	<string>Revival</string>
	<string>Gene</string>
	<string>Vincent</string>
	<string>His</string>
	<string>Blue</string>
	<string>Caps</string>
	<string>Donna</string>
	<string>Summer</string>
	<string>Van</string>
	<string>Morrison</string>
	<string>Hank</string>
	<string>Williams</string>
	<string>Drifters</string>
	<string>Crystals</string>
	<string>Isley</string>
	<string>Fleetwood</string>
	<string>Mac</string>
	<string>5</string>
	<string>Ben</string>
	<string>E.</string>
	<string>King</string>
	<string>Animals</string>
	<string>Shirelles</string>
	<string>Big</string>
	<string>Joe</string>
	<string>Steppenwolf</string>
	<string>Rod</string>
	<string>Stewart</string>
	<string>Wilson</string>
	<string>Pickett</string>
	<string>Elton</string>
	<string>Sly</string>
	<string>Family</string>
	<string>Stone</string>
	<string>Everly</string>
	<string>Please</string>
	<string>B-52&apos;s</string>
	<string>Iggy</string>
	<string>Pop</string>
	<string>Janis</string>
	<string>Joplin</string>
	<string>Penguins</string>
	<string>Flamingos</string>
	<string>Bill</string>
	<string>Haley</string>
	<string>Comets</string>
	<string>Velvet</string>
	<string>Underground</string>
	<string>Public</string>
	<string>Enemy</string>
	<string>Sinéad</string>
	<string>O&apos;Connor</string>
	<string>Queen</string>
	<string>Tracy</string>
	<string>Chapman</string>
	<string>Eminem</string>
	<string>R.E.M.</string>
	<string>Joni</string>
	<string>Mitchell</string>
	<string>ABBA</string>
	<string>Aerosmith</string>
	<string>Bobby</string>
	<string>Fuller</string>
	<string>Four</string>
	<string>Tom</string>
	<string>Petty</string>
	<string>Star</string>
	<string>Joy</string>
	<string>Division</string>
	<string>OutKast</string>
	<string>Booker</string>
	<string>T.</string>
	<string>MG&apos;s</string>
	<string>B.B.</string>
	<string>AC/DC</string>
	<string>Bee</string>
	<string>Gees</string>
	<string>Lynyrd</string>
	<string>Skynyrd</string>
	<string>Glen</string>
	<string>Campbell</string>
	<string>Chantels</string>
	<string>Guns</string>
	<string>N&apos;</string>
	<string>Roses</string>
	<string>Parliament</string>
	<string>Beck</string>
	<string>New</string>
	<string>Order</string>
	<string>Withers</string>
	<string>Tops</string>
	<string>Them</string>
	<string>Question</string>
	<string>Mark</string>
	<string>Mysterians</string>
	<string>Neil</string>
	<string>Young</string>
	<string>Chords</string>
	<string>Lovin&apos;</string>
	<string>Spoonful</string>
	<string>Dolly</string>
	<string>Parton</string>
	<string>Hooker</string>
	<string>Howlin&apos;</string>
	<string>Wolf</string>
	<string>Left</string>
	<string>Banke</string>
	<string>Lou</string>
	<string>Reed</string>
	<string>Chic</string>
	<string>Muddy</string>
	<string>Waters</string>
	<string>Taylor</string>
	<string>Afrika</string>
	<string>Bambaataa</string>
	<string>Dion</string>
	<string>Dusty</string>
	<string>Spencer</string>
	<string>Davis</string>
	<string>Group</string>
	<string>Jackie</string>
	<string>Sugarhill</string>
	<string>Gang</string>
	<string>Black</string>
	<string>Sabbath</string>
	<string>Darin</string>
	<string>Mott</string>
	<string>Hoople</string>
	<string>Blondie</string>
	<string>Radiohead</string>
	<string>Troggs</string>
	<string>Jeff</string>
	<string>Buckley</string>
	<string>Dells</string>
	<string>Randy</string>
	<string>Newman</string>
	<string>Archie</string>
	<string>Bell</string>
	<string>Drells</string>
	<string>York</string>
	<string>Dolls</string>
	<string>Modern</string>
	<string>Lovers</string>
	<string>George</string>
	<string>Jones</string>
	<string>Jefferson</string>
	<string>Airplane</string>
	<string>Staple</string>
	<string>Singers</string>
	<string>Cure</string>
	<string>Dixie</string>
	<string>Cups</string>
	<string>Costello</string>
	<string>Attractions</string>
	<string>Pavement</string>
	<string>Run-D.M.C.</string>
	<string>Barrett</string>
	<string>Strong</string>
	<string>feat.</string>
	<string>Dido</string>
	<string>Zombies</string>
	<string>Madonna</string>
	<string>Willie</string>
	<string>Nelson</string>
	<string>Jam</string>
	<string>Frankie</string>
	<string>Lymon</string>
	<string>Teenagers</string>
	<string>Screamin&apos;</string>
	<string>Jay</string>
	<string>Hawkins</string>
	<string>Pink</string>
	<string>Floyd</string>
	<string>Jimmy</string>
	<string>Cliff</string>
	<string>Alice</string>
	<string>Cooper</string>
	<string>Crazy</string>
	<string>Horse</string>
	<string>Patti</string>
	<string>Smith</string>
	<string>Supremes</string>
	<string>Rascals</string>
	<string>Butler</string>
	<string>Earth,</string>
	<string>Wind</string>
	<string>Fire</string>
	<string>Bonnie</string>
	<string>Raitt</string>
	<string>Norman</string>
	<string>Greenbaum</string>
	<string>Paul</string>
	<string>McCartney</string>
	<string>LaVern</string>
	<string>Baker</string>
	<string>Brother</string>
	<string>Holding</string>
	<string>Company</string>
	<string>Ritchie</string>
	<string>Valens</string>
	<string>2Pac</string>
	<string>Eva</string>
	<string>Platters</string>
	<string>Eric</string>
	<string>Clapton</string>
	<string>Eurythmics</string>
	<string>Roberta</string>
	<string>Flack</string>
	<string>Box</string>
	<string>Depeche</string>
	<string>Mode</string>
	<string>Television</string>
	<string>Aaron</string>
	<string>Neville</string>
	<string>Verve</string>
	<string>Allman</string>
	<string>Crosby,</string>
	<string>Stills,</string>
	<string>Nash</string>
	<string>B.</string>
	<string>Rakim</string>
	<string>Freda</string>
	<string>Payne</string>
	<string>Stairsteps</string>
	<string>Shangri-Las</string>
	<string>Öyster</string>
	<string>Cult</string>
	<string>Metallica</string>
	<string>Revere</string>
	<string>Raiders</string>
	<string>Carpenters</string>
	<string>R.</string>
	<string>Kelly</string>
	<string>Pixies</string>
	<string>Bobbie</string>
	<string>Gentry</string>
	<string>Coasters</string>
	<string>Don</string>
	<string>Henley</string>
	<string>N.W.A</string>
	<string>Stills</string>
	<string>Dr.</string>
	<string>Dre</string>
	<string>Billy</string>
	<string>Joel</string>
	<string>Smiths</string>
	<string>Deep</string>
	<string>Purple</string>
	<string>Mitch</string>
	<string>Ryder</string>
	<string>Detroit</string>
	<string>Wheels</string>
	<string>Solomon</string>
	<string>Burke</string>
	<string>Gladys</string>
	<string>Knight</string>
	<string>Pips</string>
	<string>Love</string>
	<string>Stooges</string>
	<string>Mellencamp</string>
	<string>Salt-N-Pepa</string>
	<string>Del-Vikings</string>
	<string>Sonny</string>
	<string>Cher</string>
	<string>Maytals</string>
	<string>Chubby</string>
	<string>Checker</string>
	<string>Harrison</string>
	<string>Lloyd</string>
	<string>Price</string>
	<string>Dave</string>
	<string>Chiffons</string>
	<string>Cheap</string>
	<string>Trick</string>
	<string>Del</string>
	<string>Shannon</string>
	<string>Carole</string>
	<string>Funkadelic</string>
	<string>Beastie</string>
	<string>Foreigner</string>
	<string>Rick</string>
	<string>Labelle</string>
	<string>Joan</string>
	<string>Jett</string>
	<string>Blackhearts</string>
	<string>Gloria</string>
	<string>Gaynor</string>
	<string>Browne</string>
	<string>Weezer</string>
	<string>Brook</string>
	<string>Benton</string>
	<string>Thin</string>
	<string>Lizzy</string>
	<string>Boston</string>
</array>
</plist>
